* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: darkslategray;
}

.title {
    color:#db0000;
    text-align: center;
    padding: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container div {
    width: 200px;
    color: antiquewhite;
    margin: 10px;
    padding: 10px;
    flex-basis: 20%;
    text-align: center;
}

hr {
    flex-direction: column;
}